name: Application CI
on: [push, pull_request]

concurrency:
  group: ci
  cancel-in-progress: true

jobs:
  test:
    name: Test, build and push
    runs-on: ubuntu-latest
    env:
      MVN: mvn --show-version --batch-mode
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      # Login to Quay.io for Docker push (needed for native build)
      - name: Login to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_TOKEN }}
      - name: mvn clean compile
        run: $MVN clean compile
      - name: mvn test
        run: $MVN test
      # JVM build using Jib (fast, no Docker daemon needed)
      - name: Build and push JVM image (latest)
        run: >-
            $MVN package -DskipTests
            -Dquarkus.container-image.push=true
            -Dquarkus.container-image.username=${{ secrets.QUAY_USER }}
            -Dquarkus.container-image.password=${{ secrets.QUAY_TOKEN }}
            -Dquarkus.container-image.image=quay.io/${{ github.repository }}:latest
            '-Dquarkus.container-image.labels."org.opencontainers.image.revision"='$GITHUB_SHA
      # Native build - requires Docker for both native compilation and image building
      - name: Build and push Native image (latest-native)
        run: >-
            $MVN package -Pnative -DskipTests
            -Dquarkus.native.container-build=true
            -Dquarkus.container-image.build=true
            -Dquarkus.container-image.push=true
            -Dquarkus.container-image.builder=docker
            -Dquarkus.container-image.username=${{ secrets.QUAY_USER }}
            -Dquarkus.container-image.password=${{ secrets.QUAY_TOKEN }}
            -Dquarkus.container-image.image=quay.io/${{ github.repository }}:latest-native
            '-Dquarkus.container-image.labels."org.opencontainers.image.revision"='$GITHUB_SHA